[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = git://github.com/wincent/command-t.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = git://github.com/bling/vim-airline.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/swift.vim"]
	path = vim/bundle/swift.vim
	url = https://github.com/Keithbsmiley/swift.vim.git
[submodule "fisherman/bass"]
	path = fisherman/bass
	url = https://github.com/edc/bass
